# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*.php
.env.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel Mix
/public/css
/public/js
/public/mix-manifest.json

# Composer
composer.phar
/vendor/

# IDEs and editors
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# Bootstrap
/public/css/app.css
/public/js/app.js

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio for Mac
.vscode/
.idea/
*.userprefs